.wp-block-button {
  transition: all 0.3s;

  & img {
    transition: transform 0.3s;
  }

  &:hover {
    filter: brightness(1.1);
    & img {
      transform: translateY(-2px);
    }
  }

  & img {
    display: inline-block;
  }
}
